/* Home CSS File */
#home {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  margin-inline: auto;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
#home .logo {
  width: 200px;
  height: auto;
}
#home h1 {
  font-size: 3rem;
}
#home p {
  font-size: 1.5rem;
}
