.login-dialogue {
  position: absolute;
  font-size: var(--menu-font-size);
  background-color: var(--menu-background-color);
  color: var(--menu-foreground-color);
  border: var(--attention-foreground-color) 1px solid;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: max-content;
  gap: 0.5em;
  padding: 0.5em 1em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
