*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* Light Theme */
  --primary-background-color: hsl(203, 71%, 75%);
  --secondary-background-color: hsl(203, 95%, 64%);
  --menu-background-color: hsl(203, 83%, 47%);
  --attention-background-color: hsl(217, 59%, 43%);

  /* Dark Theme  */
  --attention-foreground-color: hsl(248, 57%, 5%);
  --menu-foreground-color: hsl(241, 54%, 25%);
  --secondary-foreground-color: hsl(228, 74%, 33%);
  --primary-foreground-color: hsl(240, 77%, 54%);

  --font-size: 1.2rem;
  --menu-font-size: 1.5rem;
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-foreground-color: hsl(203, 71%, 75%);
    --secondary-foreground-color: hsl(203, 95%, 64%);
    --menu-foreground-color: hsl(203, 83%, 47%);
    --attention-foreground-color: hsl(217, 59%, 43%);

    --attention-background-color: hsl(248, 57%, 5%);
    --menu-background-color: hsl(241, 54%, 25%);
    --secondary-background-color: hsl(228, 74%, 33%);
    --primary-background-color: hsl(240, 77%, 54%);
  }
}
html {
  background-color: var(--primary-background-color);
  color: var(--primary-foreground-color);
}
